@charset "utf-8";

img {
	max-width: 100%;
	height: auto;
}

.center-collap-header a {
    text-align: center !important;
    padding-right: 38px !important;
}

li {
	margin-bottom: 20px;
}

.ui-icon-audio-icon {
	background: url("images/audio_iconW.png") 11px 12px no-repeat;
}

a:link {
	font-size: 20px;
}

@media (max-width: 600px) {
	a:link {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	a:link {
		font-size: 12px;
	}
}